/* line 3, ../sass/partials/_structure.scss */
body {
  font-size: 1em;
  margin: 50px;
  background: #f8c653;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 10, ../sass/partials/_structure.scss */
#container {
  max-width: 960px;
  margin: 0 auto;
}

/* line 17, ../sass/partials/_structure.scss */
.phonebookHEAD img {
  float: left;
  width: 64px;
  height: auto;
  margin-right: 15px;
}
/* line 23, ../sass/partials/_structure.scss */
.phonebookHEAD h1 {
  color: #faf6ec;
  padding: 10px;
  font-weight: bold;
  font-size: 2em;
}

/* line 33, ../sass/partials/_structure.scss */
.entryAREA {
  width: 100%;
  height: auto;
  border-radius: 13px;
  background: #f6eecc;
}
/* line 38, ../sass/partials/_structure.scss */
.entryAREA h2 {
  width: auto;
  margin: 0 0 25px;
  background: #faf6ec;
  font-size: 1.15em;
  text-transform: uppercase;
  color: 000;
  border-bottom: 6px solid #f8c653;
  padding: 10px;
  font-weight: normal;
  border-radius: 10px 10px 0 0;
}

/* line 52, ../sass/partials/_structure.scss */
.fields {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 25px;
}

/* line 58, ../sass/partials/_structure.scss */
#name, #phone {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  border-style: none;
  width: 40%;
  margin: 5px;
  border-radius: 15px;
  height: 30px;
  padding: 10px;
  background: #faf6ec;
  font-size: 1.15em;
}

/* line 73, ../sass/partials/_structure.scss */
#name:focus, #phone:focus {
  background-color: #fff;
}

/* line 77, ../sass/partials/_structure.scss */
#submit {
  border: none;
  border-radius: 15px;
  moz-border-radius: 15px;
  font-size: 1.15em;
  font-weight: bold;
  color: #f6eecc;
  padding: 10px 10px;
  background-color: #33c47e;
}

/* line 89, ../sass/partials/_structure.scss */
#submit:hover {
  background-color: #2a7b53;
  cursor: pointer;
}

/* line 96, ../sass/partials/_structure.scss */
#show-items {
  width: 70%;
  margin: 25px auto 10px;
  padding: 0;
}
/* line 100, ../sass/partials/_structure.scss */
#show-items img {
  height: 20px;
  width: auto;
  margin: 0 5px;
}

/* line 107, ../sass/partials/_structure.scss */
#show-items li {
  padding: 15px;
  background: #faf6ec;
  margin: 5px 0 5px;
  list-style-type: none;
  border-radius: 10px;
  height: 22px;
  position: relative;
}

/* line 118, ../sass/partials/_structure.scss */
.invalid {
  width: 70%;
  margin: 6px auto;
  background: #f51f1f;
  color: #fff;
  font-size: 1.15em;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
}

/* line 131, ../sass/partials/_structure.scss */
.name {
  width: 45%;
  float: left;
  display: block;
  position: relative;
}

/* line 137, ../sass/partials/_structure.scss */
.phone {
  width: 45%;
  float: left;
  display: block;
  position: relative;
}

/* line 143, ../sass/partials/_structure.scss */
.bin {
  width: 10%;
  float: right;
  display: block;
  position: relative;
  text-align: right;
}

/* line 153, ../sass/partials/_structure.scss */
.notice {
  width: 70%;
  margin: 0 auto;
  font-size: .8em;
}
/* line 157, ../sass/partials/_structure.scss */
.notice p {
  width: 95%;
  margin: 0 auto;
  font-style: italic;
}
/* line 162, ../sass/partials/_structure.scss */
.notice span {
  float: right;
}
/* line 165, ../sass/partials/_structure.scss */
.notice a {
  text-decoration: none;
  color: #f51f1f;
  font-style: normal;
}
/* line 170, ../sass/partials/_structure.scss */
.notice a:hover {
  color: #f6eecc;
}

@media (max-width: 980px) {
  /* line 5, ../sass/partials/_breakpoints.scss */
  .fields {
    width: 90%;
    text-align: center;
  }

  /* line 10, ../sass/partials/_breakpoints.scss */
  #show-items {
    width: 85%;
  }

  /* line 14, ../sass/partials/_breakpoints.scss */
  #submit {
    float: none;
    clear: both;
    margin: 10px 30px 0;
  }

  /* line 20, ../sass/partials/_breakpoints.scss */
  .invalid {
    width: 85%;
  }
}
@media (max-width: 700px) {
  /* line 26, ../sass/partials/_breakpoints.scss */
  body {
    margin: 25px;
  }

  /* line 30, ../sass/partials/_breakpoints.scss */
  .fields {
    width: 95%;
    text-align: center;
  }

  /* line 35, ../sass/partials/_breakpoints.scss */
  #show-items {
    width: 100%;
  }

  /* line 39, ../sass/partials/_breakpoints.scss */
  #name, #phone {
    clear: both;
    float: none;
    width: 80%;
  }

  /* line 45, ../sass/partials/_breakpoints.scss */
  .phonebookHEAD {
    text-align: center;
  }
  /* line 47, ../sass/partials/_breakpoints.scss */
  .phonebookHEAD img {
    float: none;
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  /* line 53, ../sass/partials/_breakpoints.scss */
  .phonebookHEAD h1 {
    color: #faf6ec;
    padding: 10px;
    font-weight: bold;
    font-size: 2.5em;
    margin: 10px;
  }

  /* line 62, ../sass/partials/_breakpoints.scss */
  .invalid {
    width: 95%;
  }

  /* line 66, ../sass/partials/_breakpoints.scss */
  #show-items li {
    height: 45px;
  }

  /* line 70, ../sass/partials/_breakpoints.scss */
  .name {
    width: 100%;
    float: left;
    display: block;
    position: relative;
  }

  /* line 76, ../sass/partials/_breakpoints.scss */
  .phone {
    width: 80%;
    float: left;
    display: block;
    position: relative;
  }

  /* line 82, ../sass/partials/_breakpoints.scss */
  .bin {
    width: 20%;
    float: right;
    display: block;
    position: relative;
    text-align: right;
  }

  /* line 90, ../sass/partials/_breakpoints.scss */
  .notice {
    width: 90%;
  }
}
