$smallScreen: max-width 700px;
$mediumScreen: max-width 980px;

@include breakpoint($mediumScreen){
.fields {
	width: 90%;
	text-align: center;
}

#show-items {
	width: 85%;
}

#submit{
	float: none;
	clear: both;
	margin: 10px 30px 0;
}

.invalid {
	width: 85%;
}

}
@include breakpoint($smallScreen){
body {
	margin: 25px;
}

.fields {
	width: 95%;
	text-align: center;
}

#show-items {
	width: 100%;
}

#name,#phone {
clear: both;
float: none;
width: 80%;
}

.phonebookHEAD {
	text-align: center;
	img{
		float: none;
		width: auto;
		height: auto;
		margin: 0 auto;
	}
	h1{
		color: #faf6ec;
		padding: 10px;
		font-weight: bold;
		font-size: 2.5em;
		margin: 10px;
	}
}

.invalid {
	width: 95%;
}

#show-items li{
	height: 45px;
}

.name {
	width: 100%;
	float: left;
	display: block;
	position: relative;
}
.phone {
	width: 80%;
	float: left;
	display: block;
	position: relative;
}
.bin {
	width: 20%;
	float: right;
	display: block;
	position: relative;
	text-align: right;
}

.notice{
	width: 90%;
}

}