//////////Basic Structure//////////

body {
	font-size: 1em;
	margin: 50px;
	background: #f8c653;
	font-family: Helvetica, Arial, sans-serif;
}

#container {
	max-width: 960px;
	margin: 0 auto;
}

//////////Header Area//////////
.phonebookHEAD {
	img{
		float: left;
		width: 64px;
		height: auto;
		margin-right: 15px;
	}
	h1{
		color: #faf6ec;
		padding: 10px;
		font-weight: bold;
		font-size: 2em;
	}
}

//////////Form Entry Area//////////

.entryAREA {
	width: 100%;
	height: auto;
	border-radius: 13px;
	background: #f6eecc;
	h2 {
		width: auto;
		margin: 0 0 25px;
		background: #faf6ec;
		font-size: 1.15em;
		text-transform: uppercase;
		color: 000;
		border-bottom: 6px solid #f8c653;
		padding: 10px;
		font-weight: normal;
		border-radius: 10px 10px 0 0;
	}
}

.fields {
	margin: 0 auto;
	width: 80%;
	padding-bottom: 25px;
}

#name,#phone {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border-style: none;
	width:40%;
	margin: 5px;	
	border-radius: 15px;
	height: 30px;
	padding: 10px;
	background: #faf6ec;
	font-size: 1.15em;
}

#name:focus,#phone:focus {
	background-color: #fff;
}

#submit{
	border : none;
	border-radius : 15px;
	moz-border-radius : 15px;
	font-size : 1.15em;
	font-weight: bold;
	color : #f6eecc;
	padding : 10px 10px;
	background-color : #33c47e;
	
}

#submit:hover {
		background-color: #2a7b53;
		cursor: pointer;
}

//////////Contact List Area//////////

#show-items {
	width: 70%;
	margin: 25px auto 10px;
	padding: 0;
	img {
		height: 20px;
		width: auto;
		margin: 0 5px;
	}
}

#show-items li{
	padding: 15px;
	background: #faf6ec;
	margin: 5px 0 5px;
	list-style-type: none;
	border-radius: 10px;
	height: 22px;
	position: relative;
}

//////////Error Alerts//////////
.invalid {
	width: 70%;
	margin: 6px auto;
	background: #f51f1f;
	color: #fff;
	font-size: 1.15em;
	padding: 15px; 
	border-radius: 10px;
	font-weight: bold;
}

//////////Contact Organization//////////

.name {
	width: 45%;
	float: left;
	display: block;
	position: relative;
}
.phone {
	width: 45%;
	float: left;
	display: block;
	position: relative;
}
.bin {
	width: 10%;
	float: right;
	display: block;
	position: relative;
	text-align: right;
}

//////////Footer Area//////////

.notice{
	width: 70%;
	margin: 0 auto;
	font-size: .8em;
	p {
		width: 95%;
		margin: 0 auto;
		font-style: italic;		
	}
	span{
		float: right;
	}
	a{
		text-decoration: none;
		color: #f51f1f;
		font-style: normal;
	}
	a:hover{
		color: #f6eecc;
	}
}